{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- myapp/mymodel_list.html -->

    <!-- Load dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <!-- Load js for initializing tables via their server-side options -->
    <script type="text/javascript" charset="utf8" src="{% static 'js/djdatatableview.js' %}"></script>
</head>
<body>
    {{table_a}}
    {{table_b}}
</body>
<script type="text/javascript">
    $(function(){
        djdatatableview.initialize('table_a');
        djdatatableview.initialize('table_b');
    });
</script>
</html>